/*头部logo和导航*/
#header{
    width: 100%;
    height: 100px;
    background-color: #08172F;
}

.logo{
    display: inline-block;
    margin: 36px 0 0 40px;
}

.header-nav{
    float: right;
    font-size: 14px;
    height: 100px;
    margin-right: 40px;
}

.header-nav>a{
    color: #fff;
    line-height: 100px;
    margin-left: 63px;
}

.header-nav>a.active{
    color: #FE5F46;
}

/*主体部分*/
/*课程分类导航*/
#main{
    width: 100%;
}

#nav{
    width: 532px;
    height: 70px;
    margin: 0 auto;
}

/*大图*/
#jumbotron{
    width: 100%;
    height: 395px;
    background-color: #F4F6F8;
}

.jumbotron{
    width: 980px;
    height: 395px;
    margin: 0 auto;
    position: relative;
}

.jumbotron>h2{
    font-size: 48px;
    line-height: 48px;
    font-weight: 300;
    color: #5B5B5B;
    display: inline-block;
    margin-top: 57px;
}

.jumbotron>p{
    font-size: 14px;
    color: #999;
    margin-top: 20px;
}

.apply-btn{
    height: 40px;
    width: 102px;
    margin-top: 40px;
    font-size: 18px;
    color: #fff;
    border-radius: 21px;
    background-color: #FE5F46;
    border: 1px solid #DD5D48;
    text-align: center;
    line-height: 100%;
}

.banner{
    height: 395px;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
}